p {
    text-align: justify;
}

figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.media-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.media-controls audio {
    width: 30%;
}

.media-controls button {
    width: 30%;
}

.chapter-title {
    cursor: pointer;
    font-weight: bold;
}

.toc {
    width: 200px; /* Adjust width as needed */
    padding: 20px;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable if content is too long */
    position: fixed; /* Stay in place when scrolling */
    left: 0;
    top: 0;
    background-color: #f9f9f9; /* Light background */
}



.content {
    transition: margin-left 0.3s; /* Smooth transition for margin changes */
    padding: 20px;
}

.content-expanded {
    margin-left: 0; /* Expand to full width when ToC is hidden */
}

.content-contracted {
    margin-left: 250px; /* Space for ToC when it's visible */
}

.hidden {
    display: none;
}

.toc a.active {
    font-weight: bold; /* Make the font bold */
    text-decoration: underline; /* Underline the text */
}