p {
    text-align: justify;
}

figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.media-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.media-controls audio {
    width: 30%;
}

.media-controls button {
    width: 30%;
}

.chapter-title {
    cursor: pointer;
    font-weight: bold;
}


.toc-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Or your desired width */
    height: 100%;
    background-color: #2c65c7; /* Choose a suitable color */
    z-index: 10; /* Ensure it's above other content */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
}
/*
    
    padding: 20px;


*/

.toc-visible .toc-container {
    transform: translateX(0);
}

.main-shrinked {
    margin-left: 250px; /* Adjust accordingly to match the ToC width */
    background-color: #c7812c;
}

/* Ensure your main container has a transition for smooth resizing */
.container {
    transition: margin-left 0.3s ease;
}